streamlit
streamlit-option-menu
streamlit.components
streamlit.components
pycaret==3.0.0.rc3
pandas==1.3.5
numpy==1.21.5
Image
os
run_home_app
run_quest_app
run_prognosis_app
run_ml_app
run_other_app
run_about_app
